{% extends "layout.html" %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-lg-6 mb-3">
      <form>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label>Car Mode</label><br/>
            <div class="btn-group mr-2" role="group" aria-label="First group">
	            <button type="submit" class="btn btn-outline-primary" data-mode="training">Training 🏋️</button>
	            <button type="submit" class="btn btn-outline-primary" data-mode="auto">Autopilot 🧠</button>
	            <button type="submit" class="btn btn-outline-primary" data-mode="dirauto">Direction auto 💡</button>
	            <button type="submit" class="btn btn-outline-primary" data-mode="resting">Rest 💤</button>
	        	</div>
          </div>
        </div>

        <!-- Display the models list -->
        <div class="form-group" id="model-group">
          <label>Model </label>
          <select class="form-control" id="model_select">
              <option selected>Choose model...</option>
              {% for model in models %}
              <option value='{{model}}'>{{model}}</option>
              {% endfor %}
          </select>
        </div>

        <!-- Display the pressed keys -->
        <div id="control-group">
          <label>Control </label>
            <p>
               <div class="text-center">
                 <span id="controlUp" class="oi oi-caret-top"></span><br/>
               </div>
               <div class="row">
                   <div class="text-right col-lg-5">
                     <span id="controlLeft" class="oi oi-caret-left"></span>
                   </div>
                   <div class="text-left col-lg-2"></div>
                   <div class="text-left col-lg-5">
                     <span id="controlRight" class="oi oi-caret-right"></span><br/>
                   </div>
               </div>
               <div class="text-center">
                 <span id="controlDown" class="oi oi-caret-bottom"></span>
               </div>
            </p>
            <div id="start" style="display: none;">Press a button on your controller to start</div>
        </div>






        <!-- Display the different speed modes -->
        <div class="form-row" id="speed-group">
          <div class="form-group col-md-12">
            <label>Speed Mode</label><br/>
            <div class="btn-group mr-2" role="group" aria-label="First group">
	            <button type="submit" class="btn btn-primary" data-speed-mode="constant">Constant ➡️️</button>
	            <button type="submit" class="btn btn-outline-primary" data-speed-mode="confidence">Confidence 💡</button>
              <button type="submit" class="btn btn-outline-primary" data-speed-mode="auto">Auto 💡</button>
	        	</div>
          </div>
        </div>

        <!-- Display the max speed slider -->
        <div class="form-group" id="speed-limit">
          <label id="maxSpeed">Max speed limit: 50%</label><br/>
          <input type="range" id="maxSpeedSlider" oninput="maxSpeedUdate();">
        </div>

        <!-- Display the starter button -->
        <button id="starter" class="btn btn-success btn-lg btn-block" disabled>Start</button>
      </form>
    </div>

    <!-- Stream/Picture -->
    <div class="col-lg-6 text-center mb-3">

  		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="stream" viewBox="0 0 250 150">
  			<defs>
  			    <marker id="arrow" markerWidth="10" markerHeight="10" refX="0" refY="3" orient="auto" markerUnits="strokeWidth">
  			      <path d="M0,0 L0,6 L3,3 z" fill="#f00" />
  			    </marker>
  			</defs>

  			<image id="stream_image" xlink:href="/picture" x="0" y="0" height="150px" width="250px"/>
   			<line id="dirline" x1="125" y1="110" x2="25" y2="110" stroke="#f00" stroke-width="5" marker-end="url(#arrow)" visibility="hidden"/>
  		</svg>
      
  		<div class="btn-group mt-1" role="group" aria-label="Basic example">
  			<button id="camera" class="btn btn-info">Start camera</button>
  			<button id="take-picture" type="button" class="btn btn-light">📸</button>
  		</div>


        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="stream2" viewBox="0 0 200 66" style="margin-top: 20px">
            <image id="stream_prepro" xlink:href="/picture" x="0" y="0" height="66px" width="200px"/>
        </svg>

    </div>
  </div>
</div>
{% endblock %}
